<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Answer Questions</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="answerQuestions.css" media="screen">

    <script src="answerQuestions.js" charset="utf-8" defer></script>
</head>

<body>
    <div class="hidden num1">{{num1}}</div>
    <div class="hidden num2">{{num2}}</div>
    <article class="top-bar">
        <div class="questionBox">
            <p>{{text}}</p>
        </div>
        <div class="return-button-container">
            <a href="categories.html" class="return-to-category-button">Return to List</a>
        </div>
    </article>
    <main class="answerContainer">
        <button type="button" class="answer-choice-button">{{option1}}</button>
        <button type="button" class="answer-choice-button">{{option2}}</button>
        <div class="answer-stats-box">
            <div class="answer-choice-name">
                <p>{{option1}}</p>
            </div>
            <div class="percentage">

            </div>
        </div>
        <div class="answer-stats-box">
            <div class="answer-choice-name">
                <p>{{option2}}</p>
            </div>
            <div class="percentage">

            </div>
        </div>
        <a href="/answer_question/{{cat}}/{{num}}" class="dont-answer-button">I prefer not to answer. Next Question.</a>
    </main>
</body>
</html>
