  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        <h3>{{questions.question.text}}</h3>
      </p>
      <p class="question-author">
        <a href="#">{{questions.question.author}}</a>
      </p>
       <div class="question-dice answer-one-icon">
         <a href="#">{{questions.question.choices.[0].option}}<i class="fas fa-dice-one"></i></a>
         <p>{{questions.question.choices.[0].num}}</p>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">{{questions.question.choices.[1].option}}<i class="fas fa-dice-two"></i></a>
        <p>{{questions.question.choices.[1].num}}</p>
      </div>
   </div>
  </article>
