  <article class="question homepageQuestion">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
        <textarea class="HPQuestionID hidden" >{{_id}}</textarea>
        <p class="question-text">
            <h3>{{questions.text}}</h3>
        </p>
        <p class="question-author">
            <a href="javascript:void(0);">{{questions.author}}</a>
        </p>
        {{#each questions.choices}}
        {{> homeAnswer}}
        {{/each}}
    </div>
  </article>

  <article class="question homeQuestionFiller hidden">
      <h3>{{text}}</h3>
      {{#each questions.choices}}
         <div class="answer-stats-box homepageStat">
              <div>{{option}}</div>
              <p class="percentage homepageStat">{{num}}</p>
         </div>
      {{/each}}
  </article>
